[submodule "software/ninjar-lite-bsp"]
	path = software/ninjar-lite-bsp
	url = https://github.com/ninjar-lite/ninjar-lite-bsp
[submodule "software/ninjar-lite-app"]
	path = software/ninjar-lite-app
	url = https://github.com/ninjar-lite/ninjar-lite-app
[submodule "software/suniv_usb_boot"]
	path = software/suniv_usb_boot
	url = https://github.com/AllwinnerSuniv/suniv_usb_boot
[submodule "software/suniv_drivers"]
	path = software/suniv_drivers
	url = https://github.com/AllwinnerSuniv/suniv_drivers.git
[submodule "software/suniv-yocto"]
	path = software/suniv-yocto
	url = https://github.com/AllwinnerSuniv/suniv-yocto.git
